@*<div class="" style="margin-top:60px">
    <div class="agileits-news-top">
        <ol class="breadcrumb">
            <li><a href="/">Trang chủ</a></li>
            <li><a href="/Linh-vuc-kinh-doanh">Lĩnh vực kinh doanh</a></li>
            <li class="active">Vận tải IDC</li>
        </ol>
    </div>
</div>*@

<div class="home-block-who top-70 btm-70">
    <div class="" style="margin-top:-70px;padding: 30px;">
        <div class="">
            <div class="block-head">
                <h2 style="font-size:24px">Vận tải IDC</h2>
                @*<span class="block-head-line"></span>*@
            </div>
            <div class="home-block-who-right-content content" style="margin-top:-30px;font-size:16px">

                IDC cung cấp các dịch vụ vận tải đường bộ trên khu vực miền Nam.<br />
                IDC đưa ra các giải pháp linh hoạt cho các kế hoạch vận chuyển của Khách hàng với giá cước vận chuyển hợp lý nhằm đạt hiệu quả tối ưu cho Khách hàng.<br />
                <b>Dịch vụ vận tải đường bộ bao gồm:</b><br />
                * Giao nhận, vận tải hàng trọn gói.<br />
                * Bốc xếp và sắp đặt hàng.<br />
                Vận chuyển IDC cam kết : <b>“Đúng số lượng, đúng chủng loại, đúng thời gian, đúng nơi quy định vận chuyển”.</b><br />
                IDC trang bị 02 xe tải cẩu 15 tấn và 03 xe tải 05 tấn.<br />
                Năm 2018, IDC đầu tư thêm 02 xe tải cẩu 15 tấn phục vụ cho kế hoạch kinh doanh giai đoạn 2018 - 2020.<br />



            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</div>







