@*<div class="" style="margin-top:60px">
    <div class="agileits-news-top">
        <ol class="breadcrumb">
            <li><a href="/">Trang chủ</a></li>
            <li><a href="/Linh-vuc-kinh-doanh">Lĩnh vực kinh doanh</a></li>
            <li class="active">Vật liệu xây dựng IDC</li>
        </ol>
    </div>
</div>*@

<div class="home-block-who top-70 btm-70">
    <div class="" style="margin-top:-70px;padding: 30px;">
        <div class="">
            <div class="block-head">
                <h2 style="font-size:24px">Cung cấp vật liệu xây dựng IDC</h2>
                @*<span class="block-head-line"></span>*@
            </div>
            <div class="home-block-who-right-content content" style="margin-top:-30px;font-size:16px">

                Công ty Mai Nguyễn hoạt động trong lĩnh vực Thương mại, kinh doanh vật liệu xây dựng là công ty Thành viên của IDC. Chúng tôi cung cấp các loại vật liệu xây dựng: gạch, cát đá, xi măng, vật liệu hoàn thiện….. cho thị trường miền Nam.



            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</div>




