@*<div class="" style="margin-top:60px">
    <div class="agileits-news-top">
        <ol class="breadcrumb">
            <li><a href="/">Trang chủ</a></li>
            <li><a href="/Linh-vuc-kinh-doanh">Lĩnh vực kinh doanh</a></li>
            <li class="active">Sản xuất gạch không nung IDC</li>
        </ol>
    </div>
</div>*@

<div class="home-block-who top-70 btm-70">
    <div class="" style="margin-top:-70px;padding: 30px;">
        <div class="">
            <div class="block-head">
                <h2 style="font-size:24px">Sản xuất gạch không nung IDC</h2>
                @*<span class="block-head-line"></span>*@
            </div>
            <div class="home-block-who-right-content content" style="margin-top:-30px;font-size:16px">

                &#160; &#160; &#160;&#160; &#160; <b>Nhà máy gạch không nung IDC</b> trực thuộc <b>Công ty Cổ phần đầu tư Phát triển Trung Hiếu (IDC)</b>,  toạ lạc tại Ấp Bình Chánh, Xã Tân An, Huyện Vĩnh Cửu, Tỉnh Đồng Nai. Tổng diện tích nhà máy 15,000 m2 bao gồm: Khu nhà xưởng sản xuất; Kho; Bãi chứa nguyên liệu; Bãi chứa thành phẩm; Khu văn phòng; Khu tập thể, phòng ăn cho công nhân…<br />
                &#160; &#160; &#160;&#160; &#160; Nhà máy gạch không nung IDC được đầu tư các dây chuyền hiện đại, cung ứng cho thị trường trên 4 triệu m3 gạch không nung/năm; tương ứng 35 triệu viên gạch 180x80x80 <br />
                <b>Hệ thống dây chuyền, trang thiết bị đồng bộ bao gồm:</b><br />
                * Dây chuyền QT8-15 công suất đạt trên 10 triệu viên QTC/năm.<br />
                * Dây chuyền Q12 – 17F công suất đạt  trên 25 triệu viên QTC/năm.<br />
                * Dây chuyền xếp gạch tự động (góp phần tăng năng suất và giảm sức lao động của công nhân)<br />
                * Trang bị 02 xe xúc lật (1.5m3/ gầu), 06 xe nâng dầu (2.5 tấn – 3 tấn), 08 xe nâng tay (1.5 tấn) và 02 xe nâng điện (1.5 tấn) nâng, Trạm cân 80 tấn phục vụ các hoạt động bên trong Nhà máy.<br />
                Đội ngũ kỹ sư và công nhân vận hành tay nghề cao và có kinh nghiệm lâu năm trong nghề.<br />
                Năm 2018, theo định hướng chiến lược mới, mở rộng và phát triển nhanh cả bề rộng lẫn chiều sâu, IDC dự kiến khởi công xây dựng nhà máy sản xuất gạch không nung thứ 2 trên diện tích 5ha tại KCN Nam Tân Uyên, Bình Dương. Đầu tư 03 dây chuyền QT10 với tổng mức đầu tư trên 60 tỷ đồng.<br />



            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</div>
