.hotline {
    color: #ff6a00;
    margin-top: -35px;
    margin-right: 30px;
}

.logo-left {
    margin-left: 30px;
}

.effect-3 {
    overflow: hidden;
}

    .effect-3:before {
        padding: 1px;
        left: -1px;
        bottom: 0;
        width: 100%;
        height: 3px;
        background: #ff6a00;
        content: '';
        position: absolute;
        transition: transform .5s ease;
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
    }

    .effect-3:hover:before {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -o-transform: translateX(0);
        -ms-transform: translateX(0);
        height: 30px;
    }


.agile_short_dropdown {
    border-radius: 0;
    background: #ffffff;
    padding: 2px;
    border: none;
}

    .agile_short_dropdown li a {
        color: #212121;
        font-size: 14px;
        padding: .4em 10px;
        border-bottom: 1px solid #ececef;
    }

    .agile_short_dropdown > li > a:hover {
        color: #fff;
        text-decoration: none;
        background-color: #ff6a00!important;
    }
